$main-yellow: #ffe400;
$main-yellow--hover: #fff347;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  background-image: url('./assets/background.png');
  background-repeat: repeat-y;
  background-size: 100vw auto;
}

header {
  min-height: 56px;
  position: fixed;
  text-align: left;
  width: 100%;
  padding: 5px 15px;
  background-color: #000;
  top: 0;
  left: 0;

  .logo {
    color: $main-yellow;
    text-decoration: none;
    font-size: 2em;
    transition: color .08s ease-in;

    &:hover {
      color: $main-yellow--hover;
    }
  }
}

main {
  padding-top: 56px;

  &.content {
    max-width: 800px;
    margin: 0 auto;

    &.loading {
      height: 100%;
      color: white;
    }

    article,
    .listItem {
      background-color: #2a2a2a;
      border: 2px solid $main-yellow;
      border-radius: 5px;
      color: white;
      margin: 15px auto;
      min-height: 10vmin;

      a {
        color: white;
      }
    }

    .titleLink {
      vertical-align: middle;
      text-decoration: none;
      display: block;
    }

    .listItem {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5em;
      transition: all .2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    .details {
      padding: 15px;
      display: grid;
      grid-template-columns: 50% 50%;

      &-item {
        font-size: 1.125em;
        font-weight: bold;
      }
    }
  }
}

h1 {
  color: $main-yellow;
  text-align: center;
}

.sorter {
  button {
    background-color: $main-yellow;
    border: none;
    transition: all .15s ease-in-out;
    cursor: pointer;
    height: 2em;
    padding: 0 1em;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.125em;
    outline: none;

    &:hover {
      background-color: $main-yellow--hover;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;

  button {
    &:disabled {
      cursor: not-allowed;
    }
  }
}